<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.smeup.org/asup/il/data"
            class="org.smeup.sys.il.data.QIntegratedLanguageDataPackage"
            genModel="model/il-data.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated il-data -->
      <package
            uri="http://www.smeup.org/asup/il/data/def"
            class="org.smeup.sys.il.data.def.QIntegratedLanguageDataDefPackage"
            genModel="model/il-data.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated il-data -->
      <package
            uri="http://www.smeup.org/asup/il/data/term"
            class="org.smeup.sys.il.data.term.QIntegratedLanguageDataTermPackage"
            genModel="model/il-data.genmodel"/>
   </extension>

</plugin>
