<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated il-memo-test -->
      <package
            uri="http://www.smeup.org/asup/il/memo/test"
            class="org.smeup.sys.il.memo.test.QIntegratedLanguageMemoryTestPackage"
            genModel="model/il-memo-test.genmodel"/>
   </extension>

</plugin>
