<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated os-scde-cron -->
      <package
            uri="http://www.smeup.org/asup/os/scde/cron"
            class="org.smeup.sys.os.scde.cron.QOperativeSystemCronScheduleEntryPackage"
            genModel="model/os-scde-cron.genmodel"/>
   </extension>

</plugin>
