<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension
         id="application"
         name="As.UP Runtime Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.smeup.sys.rt.core.e4.E4EquinoxApplicationImpl">
         </run>
      </application>
   
   </extension>
   
</plugin>
