<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rt-core -->
      <package
            uri="http://www.smeup.org/asup/rt/core"
            class="org.smeup.sys.rt.core.QRuntimeCorePackage"
            genModel="model/rt-core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rt-core -->
      <package
            uri="http://www.smeup.org/asup/rt/core/auth"
            class="org.smeup.sys.rt.core.auth.QRuntimeCoreAuthPackage"
            genModel="model/rt-core.genmodel"/>
   </extension>

</plugin>
