<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2012, 2015 Sme.UP and others.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
-->

<plugin>

   <extension
         id="org_asup_os_core_cdo_id"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.asup.fw.core.e4.application"
            name="As.UP CDO Store">
         <property
               name="appName"
               value="As.UP CDO Store">
         </property>
      </product>
   </extension>
   <extension
         id="store"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.smeup.sys.rt.core.e4.application"
            name="As.UP Test Language">
         <property
               name="appName"
               value="As.UP Test Language">
         </property>
      </product>
   </extension>
   <extension
         id="kernel"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.asup.fw.core.e4.application"
            name="As.UP System CDO">
         <property
               name="appName"
               value="As.UP System CDO">
         </property>
      </product>
   </extension>
   
</plugin>
