<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated co-osgi-ecf -->
      <package
            uri="http://www.smeup.org/asup/co/osgi/ecf"
            class="org.smeup.sys.co.osgi.ecf.ECFConnectorOSGIPackage"
            genModel="model/co-osgi-ecf.genmodel"/>
   </extension>

</plugin>
