<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated co-osgi -->
      <package
            uri="http://www.smeup.org/asup/co/osgi"
            class="org.smeup.sys.co.osgi.QConnectorOSGIPackage"
            genModel="model/co-osgi.genmodel"/>
   </extension>

</plugin>
