<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dk-source -->
      <package
            uri="http://www.smeup.org/asup/dk/source"
            class="org.smeup.sys.dk.source.QDevelopmentKitSourcePackage"
            genModel="model/dk-source.genmodel"/>
   </extension>

</plugin>
