<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">

      <package
            uri="http://www.smeup.org/asup/os/core"
            class="org.smeup.sys.os.core.QOperatingSystemCorePackage"
            genModel="model/os-core.genmodel"/>
                        
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated os-core -->
      <package
            uri="http://www.smeup.org/asup/os/core/jobs"
            class="org.smeup.sys.os.core.jobs.QOperatingSystemJobsPackage"
            genModel="model/os-core.genmodel"/>
   </extension>

</plugin>
